.jmbotron-fluid{
    background-color: #5c4283;  
    min-height: 15vh;
    color: white;
    text-align: left;
    font-style: italic;
}

.bkg{
    background-image: url(/assests/pics/weathebkg.jpg);
}
.btn{
    background-color: #ff8c00;
}
main{
    height: 100vh;
}

.form-inline{
    margin-top: 3vh;
}

.top_box{
    border: white solid 0.5px;
    border-radius: 10px;
    width:100%;
    padding: 2%;
    color:white;
}

.bottom_box{
    width: 100%;
    justify-content: space-between;
}

.card-body{
    background-image: linear-gradient(#3ab3b0,#55367d);
    border: none;
}

.card{
    margin:0.5%;
    color: white
}

