.jmbotron-fluid{
    background-color: #5c4283;  
}

.bkg{
    background-image: url(/assests/pics/weathebkg.jpg);
}
.btn{
    background-color: #ff8c00;
}
main{
    height: 100vh;
}

.form-inline{
    margin-top: 3vh;
}

.card-body{
    background-image: linear-gradient(#3ab3b0,#55367d);
}

.card{
    margin:0.5%;
    color: white
}

